body {
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-image: url(fond1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#CV {
	width: 65%;
}

#back {
	position: fixed;
	width: 140px;
	height: 40px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(7, 9, 26, 0.6);
	color: white;
	border: none;
}