@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px none;
}

::-webkit-scrollbar-thumb {
	background: darkgrey;
}

::-webkit-scrollbar-thumb:hover {
	background: black;
}
* {
	font-family: 'Major Mono Display', monospace;
	font-size: 23px;
	text-align: center;
	color: #1a5159/*#6086c1*/;
	text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
}

body {
	margin: 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 70% 1fr;
	grid-template-rows: auto;
	grid-template-areas: ". g .";
	/*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnGdnWO7YN3viCZqjXkhy-jDtIOmTBNz8X1rwHwPdCDLzBFpv_Og);*/
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
	color: white;
}

#back {
	font-family: Arial;
	font-size: 12px;
	text-shadow: none;
	width: 100px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(7, 9, 26, 0.8);
	color: white;
	border: none;
	position: absolute;
	z-index: 12;
}

h1 {
    font-family: Coiny;
    font-size: 70px;
		color: white;
    margin: 0;
		text-shadow: none;
}

h2 {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	color: black;
}

p {
}

ul {
	padding: 0;
}

li {
	display: block;
}

a {
	color: red;
}
.grid {
	grid-area: g;
	display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px auto auto auto;
  grid-template-areas: "head head head head head p p headeu headeu headeu headeu headeu"
 					"t t t t t t t t t t t t"
 					"x x x x x x s s s s s s"
 					"c c c c c c c c c c c c";
	/*background-image: url(https://s-media-cache-ak0.pinimg.com/originals/98/55/fb/9855fbe5dcdb69eb9aa9fe7aa703eedf.jpg);*/
	background-color: rgba(165, 116, 116, 0.20);
	/*background-repeat: no-repeat;
	background-size: cover;*/
	border-radius: 50px 50px 0 0;
}

.head1 {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#404040;
	border-radius: 50px 0 0 0;
}

.photo {
   grid-area: p;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #404040;
}

#moi {
	transform: rotate(-90deg);
	width: 190px;
	height: 110px;
	border-radius: 50%;
	border: 3px dotted #76B69A;

}

.head2 {
    grid-area: headeu;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
	border-radius: 0 50px 0 0;
}

.titre {
	grid-area:t;

}

.xp {
	grid-area: x;
	width: 70%;
	height: 690px;
	margin: 0 15%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: scroll;
}

.skill {
	grid-area: s;
	width: 70%;
	margin: 0 15%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.contact {
	grid-area: c;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
